
/* adresses */
div.addresses {
	position: relative;
}
div.addresses h3 { margin: 0 }
div.addresses p.checkbox input {

}
div.addresses ul.item { clear: both }
ul.address {
	background-color: #ffffff;
	
	border: 1px solid #ebebeb;
	margin-right:10px;
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	width: 330px;
	margin-top:10px;
	
}
.address_delivery label {
width:auto !important;
}
ul.alternate_item {
	
}
ul.address li {
margin:0px;
padding:0.3em 0em 0.3em 1.4em;
	margin-top:1px;
}
li.address_title {
	font-size:12px;
	text-transform:uppercase;
	font-weight:normal;
	text-shadow: 0 1px 0 white;
	color: #658799;
	border-bottom: 1px solid #ebebeb;
}
ul.item li.address_title {font-weight:normal}
ul.alternate_item li.address_title {}
li.address_name,
 li.address_update a,
 li.address_delete a { color:#333 }
li.address_name {color:black; font-weight:bold}
 li.address_company { font-weight: bold; color:black }


li.address_update,li.address_delete {
background-color:#E3E1EF;
margin:0px;
}

li.address_update a,li.address_delete a {
display:block;


}
li.address_update a:hover,li.address_delete a:hover {
text-decoration:none;
color:#000;
}


#center_column .address_add { padding:0 0 1em 2em }
input#submitaddress {background:#ef5057; border:none; padding:4px; font-size:11px; color:white; font-weight:bold; text-transform:uppercase; width:auto; cursor:pointer}
form#sendOrderMessage {clear:both; margin-bottom:1em}
form#sendOrderMessage p {text-transform:uppercase; color:#999; font-size:10px; margin:0}
form#sendOrderMessage input#submitMessage  {background:#ef5057; border:none; padding:4px; font-size:11px; color:white; font-weight:bold; text-transform:uppercase; cursor:pointer}

div#adresses_infos {margin-bottom:1em}
div#adresses_infos h4 { font-size:11px; text-transform:uppercase; color:black; padding:0; margin:0}
div#adresses_infos p {text-transform:uppercase; color:#999; font-size:10px; margin:0}
