/* identity.tpl */
#identity fieldset {
	width:410px;
	margin-bottom:0
}
#identity fieldset div{
	float:left
}
#identity fieldset p {
	padding:7px 0 0 0;
}
#identity p.text label {
    float: left;
    text-align: right;
    width: 30%;
	background:#EEEEEE;
	padding:5px 6px 5px 6px;
	margin-top:0;
	/margin-top:1px
}
#identity p.text input {
	margin:0;
	border:1px solid #EEEEEE;
	padding:5px;
	width:250px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold
}
#identity p.text select {
	margin:0;
	border:1px solid #EEEEEE;
	padding:4px 5px 4px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold
}
#identity p.checkbox {
	margin-left:12.2em
}
input#submitIdentity {
    background:#363636;
    border: medium none;
    color: white;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
    text-transform: uppercase;
    width: auto;
}
p#security_informations {
	font-size: 0.85em;
	margin:1em 0 1em 1em;
	text-transform:uppercase;
	background:url(../img/sep.gif) top repeat-x;
	padding-top:1em
}