#document {
	background: #ffffff url('img/bg-head.png') repeat-x !important;
	
	
}

/* Slider */
.homepad {
    padding-top: 50px;
}

#slide {
    height: 350px;
   overflow:hidden;
   
     
   
}

#cycle {
     
    height: 420px;
    background: url('img/shadow.png') bottom right no-repeat;
    
    float:left;
}

.slide {
    margin-top: 40px;
    margin-bottom: 30px;
   
   
}

.slide-content {
    float: left;
   margin-top:30px;
   height:300px;
    margin-right: 20px;
    font-size:20px;
   
    
}

.slide-content h2 {
   text-transform:uppercase;
    color: #fff;
    
    font-weight: normal;
    margin-top: 10px;
    text-shadow: 0px 1px 0px #000;
}

.slide-content p {
    color: #999;
    text-shadow: 0px 1px 0px #000;
}

.slide-banner {
   float:left;
  margin-top:30px;
     background: url('img/Texture0203.jpeg') bottom right repeat;
    width: 700px;
    height: 330px;
    overflow:hidden;
}

.slideinner {

width:680px;
 height:310px;
 margin:10px;
 overflow:hidden;
 background-color:#ffffff;
 text-align:center;
 vertical-align:middle;
 
}

.sl-more {
    padding: 5px 10px;
    background: #d2d2d3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #555;
    float:right;
}
.sl-more:hover {
background:#ffffff;

}

.subhead {
   
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color:#999999;
    font-weight:normal;
    padding:10px 0px;
}


